
/* @Contents GoogleAppEngine Sample W4Game */
/* @Author shibata_ts */

div.box {
	border: 1px solid #cccccc;
	width: 400px;
	margin: auto;
}

div.box dl dt {
	clear: left;
	float: left;
	width: 100px;
	padding: 5px 20px;
	font-weight: bold;
	text-align: right;
}

div.box dl dd {
	width: 300px;
	padding: 5px 0px;
	text-align: left;
}
