
/* @Contents GoogleAppEngine Sample */
/* @Author shibata_ts */

/*--// Structure ////////////////////////////////////////////////--*/
body {
	text-align: center;
	color: #336699;
}

main {
	min-height: 500px;
}

/*--// Link /////////////////////////////////////////////////////--*/
a {
	font-weight: bold;
	color: #3366ff;
	text-decoration: none;
}

/*--// Table ////////////////////////////////////////////////////--*/
table {
	border-collapse: collapse;
	margin: auto;
}

table th, td {
	border: 1px solid #cccccc;
	padding: 5px 20px;
}

/*--// Error ////////////////////////////////////////////////////--*/
span.errStyle {
	color: #ff3366;
}

input.errStyle {
	border-color: #ff3366;
	margin-left: 5px;
}

/*--/////////////////////////////////////////////////////////////--*/


