
/* @Contents GoogleAppEngine Sample */
/* @Author shibata_ts */


table#index-table {
	font-size: 16px;
}

table#index-table td.name {
	width: 200px;
}

table#index-table td.description {
	width: 300px;
}

div#changeLang {
	margin: 20px;
}

