
/* @Contents GoogleAppEngine Sample WakeUp */
/* @Author shibata_ts */

div.d-box {
	border: 1px solid #cccccc;
	width: 450px;
	margin: auto;
}

div.d-box dt {
	clear: left;
	float: left;
	width: 120px;
	padding: 5px 20px;
	font-weight: bold;
	text-align: right;
}

div.d-box dd {
	width: 400px;
	padding: 5px 0px;
	text-align: left;
}

/* ErrStyle Override */
span.errStyle {
	margin: 2px 0px 0px 125px;
	display: inline-block;
}



